<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="SomerenDatabase"
        connectionString="
		Server=groupsixdatabase.database.windows.net;
        user id=testadmin;
        password=W3lcomE123!;
        Initial Catalog=groupsixdatabase;
        persistsecurityinfo=True;"/>
    </connectionStrings>
</configuration>